body{
	width: 100vw;
	background-color: dimgray;
}
p{
	position: relative;
	font-size: 20px;
	font-family: Garamond;
	color: white;
	width:50vw;
	margin: 0;
	left: 3vw;
	top: 5vh;
}
textarea{
	position: relative;
	border:none;
	outline:none;
	resize: horizontal;
    overflow: auto;
    font-family: Courier;
    background-color: dimgray;
    color: white;
    font-size: 15px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    left: 3vw;
    top: 5vh;
}
button{
	position: relative;
	background-color: aquamarine;
	color: dimgray;
	font-family: Gotham;
	font-size: 15px;
	border:none;
	width:10vw;
	height: 6vh;
	outline:none;
	top: 5vh;
}
button:hover{
	opacity: .6;
}
#author{
	position: relative;
	left: 12vw;
	top: -5vh;
}
#story1{
	position: relative;
	left: 47vw;
	top:-11vh;
}
#author1{
	position: relative;
	left: 52.5vw;
	top:-16vh;
}


